html {
	height: 100%;
	background: #8bc750;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

body {
	background: #7db348;
	margin: 0px auto;
	padding: 1em;
	border: 0px;
	width: 720px;
	height: 100%;
	position: relative;
	font: 15px 'Molengo', 'Trebuchet MS', sans-serif;
	-webkit-box-shadow: #000 2px 2px 12px;
	-moz-box-shadow: #000 2px 2px 12px;
	box-shadow: #000 2px 2px 12px;
	z-index: 100;
}

h1 {
	color: white;
	font: 48px 'Neucha', "Trebuchet MS", sans-serif;
	margin: 0;
	padding-bottom: 20px;
}

a img {
	border: 0;
}

.actions {
	position: absolute;
	top: 16px;
	right: 16px;
}

.actions a {
	text-decoration: none;
	float: right;
	display: block;
	text-align: center;
	padding: 8px 8px 4px 8px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#bbbbbb) );
	background: -moz-linear-gradient(#ffffff, #bbbbbb);
	background: linear-gradient(#ffffff, #bbbbbb);
	margin-bottom: 8px;
	margin-left: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	-webkit-box-shadow: #000 2px 2px 12px;
	-moz-box-shadow: #000 2px 2px 12px;
	box-shadow: #000 2px 2px 12px;
	border:0;
}


.actions a:hover {
	-webkit-box-shadow: #fff 2px 2px 12px;
	-moz-box-shadow: #fff 2px 2px 12px;
	box-shadow: #fff 2px 2px 12px;
	background: white;
}

.adesc {
	display: none;
	text-decoration: none;
	color: #666;
	font: 10px 'Molengo', sans-serif;
}

#notepad {
	font: 18px 'Inconsolata', monospace;
	padding: 12px;
	width: 696px;
	margin: auto ! important;
	border: 1px solid #666;
}

.pwfield {
	font-size: 16px;
	width: 312px;
	background: white;
	padding: 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #666;
}

.password {
	font-size: 16px;
	width: 290px;
	display: block;
	margin-bottom: 2px;
	padding-left: 24px;
	border: 0;
	background: url(/img/key.png) white 0px 50% no-repeat;
}

.progressbar {
	clear: both;
	width: 304px;
	margin-left: 4px;
	maergin-right: 4px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000),
		to(#666666) );
	background: -moz-linear-gradient(#000000, #666666);
	background: linear-gradient(#000000, #666666);
	border: 1px solid #666;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.pwstrength {
	font-size: 4px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000),
		to(#666666) );
	background: -moz-linear-gradient(#000000, #666666);
	background: linear-gradient(#000000, #666666);
}

#savepanel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -161px;
	margin-top:-92px;
	width: 322px;
	padding: 10px;
	background: #7db348;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	-webkit-box-shadow: #000 2px 2px 64px;
	-moz-box-shadow: #000 2px 2px 64px;
	box-shadow: #000 2px 2px 64px;
}

.buttons {
	width: 100%;
	margin-top: 16px;
}

.buttons a {
	display: block;
	float: right;
	margin: 0px 0px 8px 8px;
	padding: 4px 8px;
	border: 1px solid #666;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#bbbbbb) );
	background: -moz-linear-gradient(#ffffff, #bbbbbb);
	background: linear-gradient(#ffffff, #bbbbbb);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
	color: #444;
	text-align: left;
}

.buttons a img {
	float: left;
	display: block;
	margin-right: 4px;
}