html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

body {
	color: #003b55;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	font: 15px 'Molengo', 'Trebuchet MS', sans-serif;
}

h1 {
	color: #333;
	font: 48px 'Neucha', "Trebuchet MS", sans-serif;
	height: 62px;
	margin: 0;
	padding: 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#bbbbbb) );
	background: -moz-linear-gradient(#ffffff, #bbbbbb);
	background: linear-gradient(#ffffff, #bbbbbb);
	margin-bottom: 16px;
	-webkit-box-shadow: #000 2px 2px 12px;
	-moz-box-shadow: #000 2px 2px 12px;
	box-shadow: #000 2px 2px 12px;
}

#lt {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}

#lt tr,#lt td {
	border: 0;
	padding: 0;
	margin: 0;
	background: #f6e9a4;
	vertical-align: top;
}

#titleCell {
	height: 1%;
}

#noteCell {
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: #003b55;
}

#notepad {
	color: #333;
	background: transparent;
	font: 20px 'Inconsolata', monospace;
	padding: 0;
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

a img {
	border: 0;
}

.actions a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 8px;
	margin: 0 12px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#bbbbbb) );
	background: -moz-linear-gradient(#ffffff, #bbbbbb);
	background: linear-gradient(#ffffff, #bbbbbb);
	margin-bottom: 8px;
	margin-left: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	-webkit-box-shadow: #000 2px 2px 12px;
	-moz-box-shadow: #000 2px 2px 12px;
	box-shadow: #000 2px 2px 12px;
	border: 0;
	width: 42px;
}

.actions a:hover {
	-webkit-box-shadow: #fff 2px 2px 12px;
	-moz-box-shadow: #fff 2px 2px 12px;
	box-shadow: #fff 2px 2px 12px;
	background: white;
}

.adesc {
	text-decoration: none;
	color: #666;
	font: 10px 'Molengo', sans-serif;
}

.pwfield {
	font-size: 16px;
	width: 312px;
	background: white;
	padding: 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #666;
}

.password {
	font-size: 16px;
	width: 290px;
	display: block;
	margin-bottom: 2px;
	padding-left: 24px;
	border: 0;
	background: url(/img/key.png) white 0px 50% no-repeat;
}

.progressbar {
	clear: both;
	width: 304px;
	margin-left: 4px;
	maergin-right: 4px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000),
		to(#666666) );
	background: -moz-linear-gradient(#000000, #666666);
	background: linear-gradient(#000000, #666666);
	border: 1px solid #666;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.pwstrength {
	font-size: 4px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000),
		to(#666666) );
	background: -moz-linear-gradient(#000000, #666666);
	background: linear-gradient(#000000, #666666);
}

#savepanel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -92px;
	width: 600px;
	font-size: 150%;
	padding: 10px;
	background: white;
	display: block;
	-webkit-box-shadow: #000 2px 2px 24px;
	-moz-box-shadow: #000 2px 2px 24px;
	box-shadow: #000 2px 2px 24px;
}

.buttons {
	width: 100%;
	margin-top: 16px;
}

.buttons a {
	display: block;
	float: right;
	margin: 0px 0px 8px 8px;
	padding: 4px 8px;
	border: 1px solid #666;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#bbbbbb) );
	background: -moz-linear-gradient(#ffffff, #bbbbbb);
	background: linear-gradient(#ffffff, #bbbbbb);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: block;
	text-decoration: none;
	color: #444;
	text-align: left;
}

.buttons a img {
	float: left;
	display: block;
	margin-right: 4px;
}